<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer1</title>
    <link rel="stylesheet" href="../assets/css/variables.css">
    <link rel="stylesheet" href="../assets/css/footer1Style.css">
</head>

<body>
    <section class="footer">
        <div class="container footer__flexbox">
            <div class="footer__form">
                <h4>Subscribe to get our Newsletter</h4>
                <div class="newsletter">
                    <form action="">
                        <input type="email" placeholder="Your Email" required>
                        <input class="btnfooter" type="submit">
                    </form>

                </div>

            </div>
            <div class="footer__copyright">
                <p>&copy; 2025 EduConnectHub | All Rights Reserved</p>
            </div>
        </div>
    </section>

</body>

</html>