* {
  margin: 0;
  padding: var(--pd-1);
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: 1.6;
  background-color: var(--background-color);
}

.main {
  padding: var(--pd-2);
  margin: var(--mb-4);
}

.main__container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: var(--mb-2);
  margin-bottom: var(--mb-4);
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--mb-3);
  padding: var(--pd-5) var(--pd-2) var(--pd-5) var(--pd-2);
  transform: translateY(-12%);
}

.stats__item {
  background: var(--background-color);
  border-radius: var(--border-radius);
  text-align: left;
  box-shadow: var(--box-shadow);
  margin-bottom: var(--mb-3);
}

.stats__item-title {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
}

.stats__item-value {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  font-weight: var(--font-bold);
}

.create-course {
  background: var(--background-color);
  padding: var(--pd-2);
  border-radius: var(--border-radius);
}

.create-course__label {
  display: block;
  font-weight: var(--font-medium);
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

.create-course__title {
  font-size: var(--h2-font-size);
  color: var(--text-color-light);
  transform: translateY(20%);
}

.create-course__form {
  display: flex;
  flex-direction: column;
}

.create-course__input,
.create-course__textarea {
  padding: var(--pd-1);
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: var(--small-font-size);
  font-weight: var(--font-small);
  font-family: var(--body-font);
  padding: var(--pd-2) var(--pd-3);
  margin-bottom: var(--mb-1);

}

.create-course__input:focus,
.create-course__textarea:focus {
outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color); 
  transition: ease 0.2s;
}

.create-course__textarea {
  height: 100px;
  resize: none;
}

.create-course__button {
  margin-top: var(--mb-1);
  padding: var(--pd-2) var(--pd-5) var(--pd-2) var(--pd-5);
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--normal-font-size);
  align-self: flex-end;
}

.create-course__button:hover,.course-card__button:hover {
  background-color: #e08c2a; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
}

.create-course__button:active,.course-card__button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px var(--box-shadow); 
}

.courses__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-5);
  text-align: center;
  color: var(--text-color-light);
}

.courses__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--mb-4) var(--mb-5);
}

.course-card {
  background: var(--background-color);
  padding: var(--pd-2) var(--pd-3) var(--pd-3) var(--pd-3);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align:left;
}

.course-card__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color-light);
  margin-bottom: -3%;
}

.course-card__description {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  font-weight: var(--font-small);
}

.course-card__rating {
  color: var(--primary-color);
  margin-bottom: -1%;
}

.course-card__button {
  padding: var(--pd-2) var(--pd-3) var(--pd-2) var(--pd-3);
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--small-font-size);
  font-weight: var(--font-small);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .main__container {
    grid-template-columns: 1fr;
  }

  .courses__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .stats {
    grid-template-columns: 1fr;
  }

  .courses__grid {
    grid-template-columns: 1fr;
  }
}
