:root {
  /* Colors */
  --primary-color: #F8981C;
  --secondary-color: #ffffff;
  --text-color: #333;
  --text-color-light: #353535;
  --background-color: #fff;
  --shadow-color: rgba(76, 70, 70, 0.1);

  /* Font and Typography */
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;
  --font-medium: 500;
  --font-bold: 700;

  /* Margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  /* Paddings */
  --pd-1: 0.3rem;
  --pd-2: 0.7rem;
  --pd-3: 1.5rem;
  --pd-4: 2rem;
  --pd-5: 6rem;




  /* Border Radius */
  --border-radius: 10px;

  /* Box Shadow */
   --box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04), 
                0px 6px 12px rgba(0, 0, 0, 0.08);
  /* z-index */
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  margin: 0;
  padding: var(--pd-1);
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: 1.6;
  background-color: var(--background-color);
}

.main {
  padding: var(--pd-2);
  margin: var(--mb-4);
}

.main__container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: var(--mb-2);
  margin-bottom: var(--mb-4);
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--mb-3);
  margin-top: var(--mb-1);
  margin-right: var(--mb-4);
  padding: var(--pd-4) var(--pd-4) var(--pd-5) var(--pd-4);
}

.stats__item {
  background: var(--background-color);
  border-radius: var(--border-radius);
  text-align: left;
  box-shadow: var(--box-shadow);
}

.stats__item-title {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  font-weight: var(--font-bold);
}

.stats__item-value {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  font-weight: var(--font-bold);
}

.create-course {
  background: var(--background-color);
  padding: var(--pd-2);
  border-radius: var(--border-radius);
}

.create-course__label {
  display: block;
  margin-top: var(--mb-1);
  font-weight: var(--font-medium);
  color: var(--text-color);
  font-size: var(--normal-font-size);
}

.create-course__title {
  font-size: var(--h2-font-size);
  margin-bottom: -1rem;
}

.create-course__form {
  display: flex;
  flex-direction: column;
  gap: var(--mb-1);
}

.create-course__input,
.create-course__textarea {
  padding: var(--pd-1);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: var(--small-font-size);
  font-family: var(--body-font);
}

.create-course__input:focus,
.create-course__textarea:focus {
outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color); 
}

.create-course__textarea {
  height: 100px;
  resize: none;
}

.create-course__button {
  padding: var(--pd-2) var(--pd-5) var(--pd-2) var(--pd-5);
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--normal-font-size);
  align-self: flex-end;
}

.create-course__button:hover,.course-card__button:hover {
  background-color: #e08c2a; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
}

.create-course__button:active,.course-card__button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px var(--box-shadow); 
}

.courses__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  text-align: center;
}

.courses__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--mb-2);
}

.course-card {
  background: var(--background-color);
  padding: var(--pd-2);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align:left;
}

.course-card__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.course-card__description {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.course-card__rating {
  color: var(--primary-color);
  margin-bottom: var(--mb-1);
}

.course-card__button {
  padding: var(--pd-2) var(--pd-3) var(--pd-2) var(--pd-3);
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--small-font-size);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .main__container {
    grid-template-columns: 1fr;
  }

  .courses__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .stats {
    grid-template-columns: 1fr;
  }

  .courses__grid {
    grid-template-columns: 1fr;
  }
}
